@{
    ViewData["Title"] = "Stok / Sipariş Info";
}
<div class="justify-content-center">
    <div class="card">
        <div class="card-header">
            <p class="text-center">Satılan Ürün Bilgisi</p>
        </div>
        <div class="card-body">

            <dl>
                <dt>Ürün ID :</dt>
                <dd>@ViewBag.UrunID</dd>
            </dl>
            <dl>
                <dt>Ürün ID :</dt>
                <dd>@ViewBag.UrunAdi</dd>
            </dl>
            <dl>
                <dt>Ürün ID :</dt>
                <dd>@ViewBag.UrunFiyati</dd>
            </dl>

        </div>
    </div>
</div>