@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    int number = 5;
    int number2 = 10;
}

<p>
    <b Razor Engine ile Değişken Çağırma
    </b>
</p>
<p><b>Sum of two numbers : @number + @number2 = @(number + number2)</b></p>

@{
    string[] names = { "john", "jane", "frank", "paul" };

}
<br />
<h6>for döngüsü</h6>
@for (int i = 0; i < names.Length; i++)
{
    <p>@names[i]</p>
}

<br />
<h6>foreach döngüsü</h6>
<ul class="group-list">
    @foreach (var item in names)
    {
        <li class="list-group-item"> @item </li>
    }

</ul>
