@{
    ViewBag.Title = "Yönetim Kurulu"; Layout = "AboutLayout";
}

<h2 class="bg-info text-white">Yönetim Kurulu</h2>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="card">
            <div class="card-header">
                Yönetim Kurulu Listesi
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">John doe</li>
                    <li class="list-group-item">Jane doe</li>
                    <li class="list-group-item">Tom doe</li>
                </ul>
            </div>
        </div>
    </div>
</div>