@{
    ViewBag.Title = "Borsada Düşüş";
    Layout = "NewsLayout";
}

<h2 class="bg-info text-white">Güncel Haberler</h2>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="card">
            <div class="card-header">
                Haberler Listesi
            </div>
            <div class="card-body">
                <p class="text-dark"> Sektör endexleri faiz haberi sonrası çakıldı...</p>
            </div>
        </div>
    </div>
</div>