@model  AppUser
@{
    ViewData["Title"] = "Update User";
}

<h1 class="bg-info text-white">Update User Info</h1>
<a asp-action="Index" asp-controller="Admin" class="btn btn-secondary">User List</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" asp-controller="Admin" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" disabled />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Country"></label>
        <select asp-for="Country" class="form-control" asp-items="@new SelectList(Enum.GetNames(typeof(Country)))">
            <option selected disabled value="Select Country...">Select Country....</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update User</button>
    </div>
</form>